
<h1>Recent Posts</h1>

{{#each post}}
<article class="card my-4 shadow bg-secondary bg-gradient text-light">
    <div class="card-body">
        <div class="post-head">
        <a href="/posts/{{id}}" class="text-light text-decoration-none"><h3 class="card-title">{{post_title}}</h3></a>
        <h5>created: {{format_date createdAt}}</h5>
        </div>
        <p class="card-text">{{user.username}}</p>
        <p class="card-text py-2">{{post_body}}</p>
    </div>
</article>
{{/each}}